subscription_id                         = "00000000-0000-0000-0000-000000000000"
resource_group_name                     = "azdo-images-rg"
location                                = "westeurope"
managed_image_name                      = "azdo-debian-runner"
gallery_name                            = "azdodebianpublicgallery"
gallery_image_name                      = "azdo-debian-runner"
community_gallery_public_name_prefix    = "widespotdebian"
community_gallery_publisher_email       = "ops@example.com"
community_gallery_publisher_uri         = "https://example.com"
